body {
    text-align: center;
}


h4 {
    padding: 5px 12% 0;
    width:75%;
    font-size: 1rem;
}

p {
    padding: 2% 12% 15%;
    width:75%;
    font-size: 1rem;
    height: 1,5rem;
}

.qr {
    width: 60% ;
    background-color: #efebfa;
    position: relative;
    left: 20%;
    border-radius: 20px;
    margin-top: 20px;
    
}

.qr-img {
    width: 80%;
    margin: 20px 20px 0;
    border-radius: 20px;
}
@media (min-width: 850px) {
    .qr-img {
        width: 50%;
        margin: 20px 20px 0;
    }
    h4 {
        padding: 5px 25% 0;
        width:49%;
        font-size: 2rem;
    }
    
    p {
        padding: 2% 25% 15%;
        width:49%;
        font-size: 2rem;
        height: 1,5rem;
    }
}